<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> filtres </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-formation-filter [(filter)]="this.formationFilter"></app-formation-filter>
  </mat-expansion-panel>
</mat-accordion>

<app-distance-slider [(value)]="formationService.distanceFilter" ></app-distance-slider>


@for (formation of formationService.pagedCatalog(); track formation.id) {
  <app-formation-card [formation]="formation"></app-formation-card>
}

<mat-paginator
  [length]="formationService.length()"
  [pageIndex]="formationService.pageIndex()"
  [pageSize]="formationService.pageSize()"
  [pageSizeOptions]="formationService.pageSizeOptions"
  aria-label="Select page"
  (page)="onPage($event)">
</mat-paginator>
